/* all page styling */
body {
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #e9ecef;
    background-size: auto;
}
footer {
    border-top: 4px solid black;
    background-color: #b48484;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;  
}
header {
    background-color: grey;
    border-top: 6x solid black;
}
.jumbotron-fluid {
    height: 100px;
}

.jumbotron{
    text-align: center;
}
.navbar-light{
    background-color: #b48484 !important;
}
p {
    line-height: 1.5;
    margin-top: 40px;
    margin-right: 3%;
}
h1 {
    font-weight: bold;
    border-bottom: 3px solid #777777;
}
.container {
    padding: 2em;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
}
/* contact page */
.contactList {
    margin: 4px;
    font-size: 2em;
    font-weight: bold;
    color: grey;
}
.contactHolder{
    text-align: center;
}
/* Portfolio page */
.nav-item{
    font-weight: bold !important;
}
img.img-circle {
    width: 25rem;
}
.container-fluid{
    width: 15rem !important;
    background-color:#b48484;
    border: 2px black solid;
}
.card-body{
    font-size: 22px;
    text-align: left;
}
.contactHeader{
    text-align: center;
    padding: 4rem 2rem;
}
.containerC {
    position: relative;
    width: 50%;
    margin: auto 0;
}
.containerC:hover .overlay {
    opacity: 1;
}
.image {
    display: block;
    width: 400px;
    height: 250px;
}
.photo {
    padding: 10px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 400px;
    opacity: 0;
    transition: .5s ease;
    background-color: #777777;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
textarea {
	height:210px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
/* Index page */
.btn-primary{
background-color: #b48484 !important;
border-color: #634848 !important;
}

